{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha2"}
        com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        re-frame {:mvn/version "0.10.6"
                  :exclusions [cljsjs/react]}
        reagent {:mvn/version "0.8.1"
                 :exclusions [cljsjs/react cljsjs/react-dom]}}
 :aliases {:cljfmt {:extra-deps {com.jameslaverack/cljfmt-runner
                                 {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                  :sha "51f85c9d6cc67107620749ceacd46120647fe107"}}}
           :cljfmt/check {:main-opts ["-m" "cljfmt-runner.check"]}
           :cljfmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]}
           :build/dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
