^{:watch-dirs ["src"]
  :open-url false
  :ring-server-options {:port 9501}}
{:main app.core
 :output-to "target/out/app.js"
 :output-dir "target/out"
 :target :nodejs
 :npm-deps {}
 :optimizations :none
 :pretty-print true
 :source-map true
 :source-map-timestamp true}
